<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589011325156-66svrcgdqdgvfv50ik9b7hk94dk4f591.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589011325156-66svrcgdqdgvfv50ik9b7hk94dk4f591</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>589011325156-27eeun09vppona8t6870s5k1vt766m62.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCiGJ496ga24ti7q6i6roS3asLPogrZVas</string>
	<key>GCM_SENDER_ID</key>
	<string>589011325156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fizz</string>
	<key>PROJECT_ID</key>
	<string>fizz-4c8c7</string>
	<key>STORAGE_BUCKET</key>
	<string>fizz-4c8c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589011325156:ios:24a18c577b7906177c5cf1</string>
</dict>
</plist>